

#main {
    margin: 0px;
    /* background-image: url('../client/leaves.jpeg');  */
    font-family: 'Figtree', sans-serif;
}

.font-link {
  font-family: 'Figtree', sans-serif;
}

.app {
    background-color: forestgreen; 
    width: 100%; 
    height: 100%;
}
.center {
  margin-left: auto; 
  margin-right: auto; 
}

table {
  width: 80%; 
  border-collapse: collapse;
  border: 1px, solid; 
  font: 'Trebuchet', sans-serif; 

}

th {
  background-color: darkolivegreen;
  font-style: bold; 
  text-align: left;
  color: white; 
  border: 1px, solid; 
}

 td {
    border: 1px, solid; 
}

.popup-box {
  position: fixed; 
  background-color: rgba(0, 0, 0, 0.5);
  left: 0; 
  top: 0; 
  width: 100%;
  height: 100vh;
}

.box {
  position: relative; 
  width: 50%; 
  min-height: 300px; 
  background-color: white; 
  border: 1px solid #9999; 
  border-radius: 4px; 
  margin: 20 px auto; 
  padding: 20px; 
  overflow: auto; 
}

.btn-close {
  cursor: pointer; 
  border: 1px solid #9999; 
  border-radius: 50%;
  position: fixed; 
  right: cal(25% - 30px);
  top: 15px; 
}

.item1 { 
  grid-area: id; 
  font-style: bold;
  text-align: left;
  font: 'Figtree';
}
.item2 { grid-area: title; }
.item3 { grid-area: update; }
.item4 { grid-area: delete; }
.item5 { grid-area: resolved; }
.item6 { grid-area: note; }
.item7 { grid-area: null}

.grid-container {
  display: grid;
  grid-template-areas: 
    'id title title title title title title title resolved'
    'note note note note note note note note note'
    'update delete null null null null null null null';
  background-color: rgba(166, 224, 158, 0.8);
  border-radius: 10px;
  gap: 10px;
  font-family: 'Figtree', sans-serif;
  padding: 5px;
  box-shadow: 5px 10px lightgray;
  margin-bottom: 20px;
  
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

